.best {
  padding-top: 88px;
  padding-bottom: 88px;
  @include mobile {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &-block {
    @include flex-spaceBetween-center;
    margin-bottom: 24px;
    @include mobile {
      margin-bottom: 8px;
    }
    &__btn {
      padding: 0;
      @include mobile {
        display: none;
      }
    }
  }
}
