html,
body {
  height: 100%;
}
body {
  font-family: var(--ff);
}
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}
.container {
  max-width: 1264px;
  margin-inline: auto;
  padding: 0 30px;
  height: 100%;

  @include mobile {
    padding: 0 20px;
  }
}
.none {
  display: none !important;
}
.title {
  font: var(--txt-600-32-ff);
  text-transform: capitalize;
  color: var(--black);
  @include mobile {
    font: var(--txt-700-20-ff);
  }
}
.btn {
  font: var(--txt-400-14-ff);
  text-transform: capitalize;
  text-align: center;
  color: var(--black);

  display: inline-block;
  padding: 8px 67px;
  background: var(--white);
  @include mobile {
    padding: 8px 9px;
  }
}
img {
  cursor: pointer;
}